<div class="footer-main d-none d-sm-block">
    <div class="row col-md-12">
        <div class="col-6 col-md-6 col-lg-3 col-xl-2 links">
            <h5>ONLINE SHOPPING</h5>
            <p>Men</p>
            <p>Women</p>
            <p>Kids</p>
            <p>Beauty</p>
        </div>
        <div class="col-6 col-md-6 col-lg-3 col-xl-2 links">
            <h5>USEFUL LINKS</h5>
            <p>Contact Us</p>
            <p>FAQ</p>
            <p>T&C</p>
            <p>Terms Of Use</p>
            <p>Track Orders</p>
            <p>Shipping</p>
            <p>Cancellation</p>
            <p>Returns</p>
            <p>Whitehat</p>
            <p>Blog</p>
            <p>Careers</p>
            <p>Privacy policy</p>
            <p>Site Map</p>
        </div>
        <div class="keep col-6 col-md-6 col-lg-4 col-xl-4">
            <!--<h5>EXPERIENCE MYNTRA APP ON MOBILE</h5>-->
            <h5>KEEP IN TOUCH</h5>
            <div class="row col-md-12">
                <i class="fa fa-facebook-square col-md-1 col-2" aria-hidden="true"></i>
                <i class="fa fa-twitter-square col-md-1 col-2" aria-hidden="true"></i>
                <i class="fa fa-youtube-play col-md-1 col-2" aria-hidden="true"></i>
                <i class="fa fa-instagram col-md-1 col-2" aria-hidden="true"></i>
            </div>
        </div>
        <div class="feature-main col-6 col-md-6 col-lg-4 col-xl-4">
            <div class="row col-md-12 feature">
                <div class="col-md-2">
                    <img src="../../assets/original.png">
                </div>
                <div class="col-md-9 orginal">
                    100% ORIGINAL
                    <span>guarantee for all products at rithum-shopping.com</span>
                </div>
            </div>
            <div class="row col-md-12 feature">
                <div class="col-md-2">
                    <img src="../../assets/cash-on-delivery.png">
                </div>
                <div class="col-md-9 orginal">
                    Cash On Delivery
                    <span> available on all orders</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12 divider">
        <div class="col-md-2">
            <h5>POPULAR SEARCHES</h5>
        </div>
        <div class="col-md-10 line"></div>
    </div>
    <div class="search">
        <a>Makeup</a> | <a>Dresses For Girls</a> | <a>T-Shirts</a> | <a>Sandals</a> | <a>Headphones</a> | <a>Babydolls</a> | <a>Blazers For Men</a> |
        <a>Handbags</a> | <a>Ladies Watches</a> | <a>Bags</a> | <a>Sport</a> | <a>Sport</a> | <a>Reebok</a> | <a>Earrings</a> | <a>Kurtis</a>
    </div>
    <div class="copyrights">
        © 2021 www.rithum-shopping.com. All rights reserved.
    </div>
</div>