<div class="bill-border" id="billBorder">
    <div class="shop-name">VIHAAR</div>
    <div class="shop-address">Vihaar Ladies collections, Thadam</div>
    <div class="shop-address">Palachira, TVM, Kerala PIN : 695143</div>
    <div class="shop-address">PHONE : 04702691111</div>
    <div class="shop-address">GSTIN : 69AAA304702691111</div>

    <table>
        <tr class="bill-no">
            <td style="text-align: left;" colspan="2">Bill Number : {{billNumber}}</td>
            <td colspan="2" class="amount">Date : {{date | date: "dd-MM-yyyy"}}</td>
        </tr>   
        <tr style="border-top: 1px solid;border-bottom:  1px solid;">
            <th>Item</th><th>Qty</th><th>Price</th><th>Amount</th>
        </tr>
        <tr *ngFor="let cart of addedProducts">
            <td>{{cart.product.name}}</td>
            <td>{{cart.quantity}}</td>
            <td>{{(cart.product.discountPrice).toFixed(2)}}</td>
            <td class="amount">{{(cart.product.discountPrice*cart.quantity).toFixed(2)}}</td>
        </tr>
        <!--<tr style="border-top: 1px solid;border-bottom:  1px solid;" class="sub-total">
            <td>SubTotal</td>
            <td>{{totalQty}}</td>
            <td></td>
            <td class="amount">{{totalPrice.toFixed(2)}}</td>
        </tr>
        <tr class="gst">
            <td></td>
            <td colspan="2">CGST @ 2.50%</td>
            <td class="amount">{{cgst.toFixed(2)}}</td>
        </tr>
        <tr class="gst">
            <td></td>
            <td colspan="2">SGST @ 2.50%</td>
            <td class="amount">{{sgst.toFixed(2)}}</td>
        </tr>-->
        <tr style="border-top: 1px solid;border-bottom: 1px solid;" class="total">
            <td  class="total-txt" colspan="2">TOTAL(incl GST)</td>
            <td style="font-weight: bold;" class="amount" colspan="2">Rs. {{(cgst+sgst+totalPriceNoGst).toFixed(2)}}</td>
        </tr>
    </table>

    <div class="thank">
        Thank you, Visit again!!!
    </div>

</div>

<button (click)="printBillNew()" class="print">PRINT</button>
