<div class="main-home">
    <div class="container">
        <div class="d-none d-sm-block list-page-header">
            <div class="navigation-box">
                <span class="active">Admin</span>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="item-outer">
                    <div routerLink="/admin/order-list" class="item shadow rounded">
                        <img src="../../../assets/received.png">
                        <p>Orders & Returns</p>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="item-outer">
                    <div routerLink="/admin/product-list-edit" class="item shadow rounded">
                        <img src="../../../assets/shopping.png">
                        <p>Products</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="item-outer">
                    <div routerLink="/admin/home-page-editor" class="item shadow rounded">
                        <img src="../../../assets/settings.png">
                        <p>Home Page</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="item-outer">
                    <div routerLink="/admin/category-list" class="item shadow rounded">
                        <img src="../../../assets/diagram.png">
                        <p>Categories</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="item-outer">
                    <div routerLink="/admin/pincode-list" class="item shadow rounded">
                        <img src="../../../assets/letter-box.png">
                        <p>Pincode</p>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="item-outer">
                    <div routerLink="/admin/billing" class="item shadow rounded">
                        <img src="../../../assets/receipt.png">
                        <p>Billing</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="item-outer">
                    <div routerLink="/admin/manage-admin" class="item shadow rounded">
                        <img src="../../../assets/unauthorized-person.png">
                        <p>Manage Admin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>