<div class="code-scanner">
    <div>
        <div class='anim-box center'>
          <!-- empty first child used for corners -->
          <div></div>
          <div class='scanner'></div>
          <div class='anim-item anim-item-sm'></div>
          <div class='anim-item anim-item-lg'></div>
          <div class='anim-item anim-item-lg'></div>
          <div class='anim-item anim-item-sm'></div>
          <div class='anim-item anim-item-lg'></div>
          <div class='anim-item anim-item-sm'></div>
          <div class='anim-item anim-item-md'></div>
          <div class='anim-item anim-item-sm'></div>
          <div class='anim-item anim-item-md'></div>
          <div class='anim-item anim-item-lg'></div>
          <div class='anim-item anim-item-sm'></div>
          <div class='anim-item anim-item-sm'></div>
          <div class='anim-item anim-item-lg'></div>
          <div class='anim-item anim-item-sm'></div>
          <div class='anim-item anim-item-lg'></div>
          <div class='anim-item anim-item-sm'></div>
          <div class='anim-item anim-item-lg'></div>
          <div class='anim-item anim-item-sm'></div>
          <div class='anim-item anim-item-md'></div> 
        </div>
    </div>
</div>