<div *ngIf="orderDetsails" class="order-main">
    <div *ngIf="tableName!='billing'" class="row col-md-12">
        <div *ngFor="let OorR of orderOrReturnStatusList;let i=index" class="col-md-3 col-3">
            <div class="status row col-md-12 c-12">
                <div class="status-text col-md-8 col-8">
                    {{OorR.orderStatus}}
                    <p>{{OorR.date | date: "MMM dd"}}</p>
                    <div class="circle">
                        <img *ngIf="OorR.date && OorR.orderStatus!='CANCELLED'" src="../../../assets/success.png">
                        <img *ngIf="OorR.date && OorR.orderStatus=='CANCELLED'" src="../../../assets/remove.png">
                    </div>
                </div>
                <div *ngIf="i!=orderOrReturnStatusList.length-1" class="line col-md-4 col-4"></div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-8 cart-product">
            <div class="hearder">
                <h4>Ordered Products</h4>
                <h4>Total : &#8377; {{(orderDetsails.includeConvenienceFee?orderDetsails.total+orderDetsails.convenienceFee:orderDetsails.total).toFixed(2)}}</h4>
            </div>
            <div *ngFor="let cartItem of orderDetsails.cartProducts" class="product box">
                <div class="row col-md-12">
                    <div class="col-md-3">
                        <img *ngIf="cartItem.product.images && cartItem.product.images.length" class="img-loading" src="{{cartItem.product.images[0]}}">
                        <img *ngIf="!(cartItem.product.images && cartItem.product.images.length)" class="prod-img" src="{{icon}}">
                    </div>
                    <div class="prod-details col-md-6 col-6">
                        <h5><a routerLink="/product-details" [queryParams]="{productId:cartItem.product.id}">{{cartItem.product.name}}</a></h5>
                        <div *ngIf="!cartItem.subProduct" [ngClass]="showLess?'show-less':''" [innerHTML]="cartItem.product.details"></div>
                        <div *ngIf="!cartItem.subProduct" class="show-less-txt" (click)="showLess=!showLess">{{showLess?'Show More':'Show Less'}} <i [ngClass]="showLess?'fa fa-angle-down':'fa fa-angle-down invert'"  class="fa fa-angle-down" aria-hidden="true"></i></div>
                        <div *ngIf="cartItem.subProduct"  [style.border-top-color]="cartItem.subProduct.colorCode" class="'selected shadow sub-product-box mb-2 mt-2" >
                            <p *ngFor="let moreDetails of cartItem.subProduct.moreDetails | keyvalue">
                                {{moreDetails.key}} : <span>{{moreDetails.value}}</span>
                            </p>
                            <h5>Rs. {{cartItem.subProduct.discountPrice}}</h5>
                        </div>
                        <div class="selection">
                            <span *ngIf="cartItem.size">Size: {{cartItem.size}}</span>
                            <span>Qty: {{cartItem.quantity}}</span>
                        </div>

                        <p *ngIf="cartItem.delivertDate!=undefined"><i class="fa fa-check" aria-hidden="true"></i> {{tableName=='order'?'Delivery by':tableName=='return'?'Pick up by':'Billing Date '}} <span>{{ cartItem.delivertDate | date: "fullDate" }}</span></p>
                        <p *ngIf="cartItem.delivertDate==undefined"><i class="fa fa-times" aria-hidden="true"></i> Update your pincode</p>
                    </div>
                    <div class="price col-md-3 col-6">
                        <h5>&#8377; {{cartItem.product.discountPrice.toFixed(2)}}</h5>
                        <p><s>Rs. {{((cartItem.product.discountPrice * 100 )/(100-cartItem.product.discount)).toFixed(2)}}</s> <span>({{cartItem.product.discount}}% OFF)</span></p>
                    </div>
                </div>
                <div *ngIf="orderOrReturnStatusList[orderOrReturnStatusList.length-1].orderStatus=='DELIVERY' && orderOrReturnStatusList[orderOrReturnStatusList.length-1].date" class="divider">

                </div>
                <div *ngIf=" tableName =='billing'|| (orderOrReturnStatusList[orderOrReturnStatusList.length-1].orderStatus=='DELIVERY' && orderOrReturnStatusList[orderOrReturnStatusList.length-1].date)" class="prod-action row col-md-12">
                    <div (click)="returnOrder(orderDetsails.id,cartItem,orderDetsails.parentOrderDate)" class="col-md-4">
                        <h4>RETURN</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-price col-md-4">
            <h5>PRICE DETAILS</h5>
            <div class="price-main">
                <div class="price-details">
                    <p>Total MRP</p>
                    <p>&#8377; {{orderDetsails.totalMRP.toFixed(2)}}</p>
                </div>
                <div class="price-details">
                    <p>Discount on MRP</p>
                    <span>-&#8377; {{(orderDetsails.totalMRP-orderDetsails.total-orderDetsails.inPersonDiscount).toFixed(2)}}</span>
                </div>
                <div *ngIf="orderDetsails.inPersonDiscount && orderDetsails.inPersonDiscount instanceof number" class="price-details">
                    <p>Personal Discount</p>
                    <span>-&#8377; {{orderDetsails.inPersonDiscount.toFixed(2)}}</span>
                </div>
                <div class="price-details">
                    <p>Convinience Fee</p>
                    <p *ngIf="orderDetsails.includeConvenienceFee">&#8377; {{orderDetsails.convenienceFee}}</p>
                    <p *ngIf="!orderDetsails.includeConvenienceFee"><s>&#8377; {{orderDetsails.convenienceFee}}</s></p>
                </div>
                <div class="divider"></div>
                <div class="total">
                    <p>Total Amount</p>
                    <span>&#8377; {{(orderDetsails.includeConvenienceFee?orderDetsails.total+orderDetsails.convenienceFee:orderDetsails.total).toFixed(2)}}</span>
                </div>
            </div>
            <h5 style="margin-top: 30px!important;">{{order?'DELIVERY':'PICK UP'}} ADDRESS</h5>
            <div *ngIf="orderDetsails.address" class="address">
                <h4>{{orderDetsails.address.name}}</h4>
                <h5>{{orderDetsails.address.mobileNumber}}</h5>
                <p>{{orderDetsails.address.address}}, {{orderDetsails.address.town}}</p>
                <p>{{orderDetsails.address.district}}, {{orderDetsails.address.state}} - {{orderDetsails.address.pinCode}}</p>
            </div>

            <h5 style="margin-top: 30px!important;">PAYMENT DETAILS</h5>
            <div class="payment-mode">
                <div  *ngIf="orderDetsails.paymentMode == 1">
                    <img src="../../../assets/cash-on-delivery.png"> Cash on delivery
                </div>
            </div>

            <div *ngIf="orderDetsails.paymentMode == 0" class="payment-details shadow">
                <img src="../../../assets/gpay.svg"> <span> GPay </span>
                <div class="card-number">**** **** **** {{orderDetsails.paymentDetails.paymentMethodData.info.cardDetails}}</div>
                <div class="card-network">{{orderDetsails.paymentDetails.paymentMethodData.info.cardNetwork}}</div>
            </div>


            <button *ngIf="!cancelled && orderDetsails.currentOrderStatus=='PLACED'" (click)="cancelOrder()" class="place-order">CANCEL</button>
            <button *ngIf="(user!=undefined && user.admin) || isLocal" (click)="printBill()" class="place-order">PRINT</button>
        </div>
    </div>
</div>