.order-main {
    padding: 120px 250px;
    .status-text {
        font-size: 14px;
        text-align: center;
        font-weight: 630;
        p {
            font-weight: 500;
            min-height: 20px;
        }
    }
    .status {
        margin-bottom: 20px;
        .circle {
            height: 40px;
            width: 40px;
            border: 1px solid #dadade;
            border-radius: 20px;
            margin-left: 35%;
            img {
                width: 100%;
            }
        }
        .line {
            height: 1px;
            background: #dadade;
            margin-top: 75px;
        }
    }
    .cart-product {
        padding-right: 20px;
        padding-top: 20px;
        border-right: 1px solid #dadade;
        .box {
            border: 1px solid #dadade;
            border-radius: 5px;
            padding: 10px 20px;
            margin-top: 10px;
        }
        .pincode {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                margin-bottom: 0px;
                font-size: 14px!important;
                margin-left: 10px;
                span {
                    font-weight: 600;
                }
            }
            input {
                height: 30px;
                margin-right: 5px;
                color: #696e79;
                -webkit-box-sizing: content-box;
                box-sizing: content-box;
                padding: 5px 10px 5px;
                margin: 0;
                outline: 0;
                border: 1px solid #dadade;
                border-radius: 4px;
                margin-right: 5px;
                &:focus {
                    border: 1px solid #696e79;
                }
            }
            button {
                border: 1px solid #E4498A;
                font-size: 12px;
                font-weight: 600;
                color: #e4498a;
                padding: 8px 15px;
                width: fit-content;
                border-radius: 4px;
                background: none;
                &:hover {
                    color: white;
                    background: #e4498a;
                }
            }
        }
        .offer {
            .offer-heading {
                font-size: 14px;
                font-weight: 600;
                img {
                    height: 20px;
                    margin-right: 10px;
                }
            }
            ul {
                margin-top: 10px;
                li {
                    font-weight: 200;
                    font-size: 12px;
                    &::marker {
                        color: grey;
                    }
                }
            }
            h5 {
                color: #e4498a;
                cursor: pointer;
                i {
                    color: #e4498a;
                }
            }
        }
        .hearder {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
        }
        .product {
            img {
                width: 100%;
            }
            .prod-details {
                h5 {
                    a {
                        color: black;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline 2px;
                        }
                    }
                }
                .selection {
                    margin-bottom: 20px;
                    span {
                        background: beige;
                        padding: 5px 10px;
                        margin: 5px;
                        font-size: 14px;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                }
                p {
                    i {
                        color: green;
                    }
                    span {
                        font-weight: bold;
                    }
                }
            }
            .price {
                text-align: end;
                p {
                    font-size: 14px!important;
                    span {
                        color: #e4498a;
                        margin-left: 5px;
                    }
                }
            }
            .divider {
                background: #dadade;
                height: 1px;
                margin: 15px 0px;
            }
            .prod-action {
                text-align: center;
                .move-to-wish {
                    border-left: 1px solid #dadade;
                }
                h4 {
                    font-weight: 620!important;
                    color: grey;
                    font-size: 14px!important;
                    cursor: pointer;
                }
            }
        }
        .wish-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            &:hover {
                color: #e4498a;
            }
            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h5 {
                    margin-left: 10px;
                }
            }
        }
    }
    .product-price {
        margin-top: 25px!important;
        h5 {
            margin-top: 20px;
        }
        .price-main {
            margin-top: 15px;
            .price-details {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 5px;
                p {
                    margin-bottom: 0px;
                    font-size: 14px!important;
                }
                span {
                    color: green;
                    font-size: 13px;
                }
            }
            .divider {
                background: #dadade;
                height: 1px;
                margin: 10px 0px;
            }
            .total {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 5px;
                p {
                    font-size: 16px!important;
                    font-weight: 600;
                    margin-bottom: 0px;
                }
            }
        }
        .address {
            margin-top: 15px;
            padding: 10px;
            border: 1px solid #f2b8d2;
            border-radius: 5px;
            p {
                margin-bottom: 5px;
            }
        }
        button {
            margin-top: 20px;
            width: 100%;
            padding: 10px;
            background: #e4498a;
            border: none;
            border-radius: 3px;
            color: white;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

@media only screen and (max-width:767px) {
    .row>* {
        padding: 0;
    }
    .order-main {
        padding: 80px 10px 50px;
        .status-text {
            font-size: 12px!important;
        }
        .status {
            .circle {
                height: 30px!important;
                width: 30px!important;
                border-radius: 15px;
                margin-left: 15%;
            }
            .line {
                margin-top: 68px!important;
            }
        }
    }
    .product {
        .prod-details {
            margin-top: 20px;
        }
        .price {
            margin-top: 20px;
        }
    }
    .cart-product {
        padding-right: 0px!important;
        padding-top: 0px!important;
        border-right: none!important;
        .product-price {
            button {
                margin-top: 25px;
            }
        }
    }
}