<div class="billing-main">
    <div class="d-none d-sm-block list-page-header">
        <div class="navigation-box">
            <span routerLink="/admin">Admin</span>
            <span class="active"><span></span> Billing</span>
        </div>
    </div>
    <div class="row col-md-12 product-search">
        <div class="col-md-3 code-scanner">
            <div>
                <div class='anim-box center'>
                  <!-- empty first child used for corners -->
                  <div></div>
                  <div class='scanner'></div>
                  <div class='anim-item anim-item-sm'></div>
                  <div class='anim-item anim-item-lg'></div>
                  <div class='anim-item anim-item-lg'></div>
                  <div class='anim-item anim-item-sm'></div>
                  <div class='anim-item anim-item-lg'></div>
                  <div class='anim-item anim-item-sm'></div>
                  <div class='anim-item anim-item-md'></div>
                  <div class='anim-item anim-item-sm'></div>
                  <div class='anim-item anim-item-md'></div>
                  <div class='anim-item anim-item-lg'></div>
                  <div class='anim-item anim-item-sm'></div>
                  <div class='anim-item anim-item-sm'></div>
                  <div class='anim-item anim-item-lg'></div>
                  <div class='anim-item anim-item-sm'></div>
                  <div class='anim-item anim-item-lg'></div>
                  <div class='anim-item anim-item-sm'></div>
                  <div class='anim-item anim-item-lg'></div>
                  <div class='anim-item anim-item-sm'></div>
                  <div class='anim-item anim-item-md'></div> 
                </div>
            </div>
        </div>
        <div class="col-md-5 product-id-box">
            <div *ngIf="progress!=0" [ngStyle]="{'width': progress+'%','background':progressBk}" class="progress-bar"></div>
            <input disabled placeholder="Enter Product Id" class="col-md-12 search-bar" [(ngModel)]="productDetail">
        </div>
        <div class="col-md-4 action">
            <button id="download" (click)="downloadProduct()" class="download">DOWNLOAD</button>
            <div class="upload">
                <button id="upload">UPLOAD</button>
                <div class="shadow rounder upload-dropdown">
                    <div>Upload products from excel file</div>
                    <input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"> 
                    <button (click)="uploadBillingToRemote()" id="upload">UPLOAD OFFLINE BILLING</button>  
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="addedProducts.length==0" class="empty-wish">
        <img src="../../../assets/shopping.png">
        <h3>NO ITEM FOR BILLING</h3>
        <p>Scan product code or enter product code in search box</p>
    </div>
    <div *ngIf="addedProducts.length>0" class="cart-main">
        <div class="fee">
    
        </div>
        <div class="row col-md-12">
            <div class="col-md-8 cart-product">
        
                <div class="hearder">
                    <h4>Billing</h4>
                    <h4>Total : &#8377; {{total}}</h4>
                </div>
                <div *ngFor="let cartItem of addedProducts" class="product box">
                    <div class="row col-md-12">
                        <div class="col-md-2">
                            <img *ngIf="cartItem.product.images && cartItem.product.images.length>0" class="img-loading" src="{{cartItem.product.images[0]}}">
                            <img *ngIf="!(cartItem.product.images && cartItem.product.images.length>0)" src="{{icon}}">
                        </div>
                        <div class="prod-details col-md-6 col-6">
                            <h5><a routerLink="/product-details" [queryParams]="{productId:cartItem.product.id}">{{cartItem.product.name}}</a></h5>
                            <p>{{cartItem.product.details}}</p>
                            <div class="selection">
                                <span (click)="selectSize(cartItem)">Size: {{cartItem.size}}</span>
                                <span (click)="selectQuantity(cartItem)">Qty: {{cartItem.quantity}} <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="price col-md-4 col-6">
                            <h5>{{cartItem.quantity}} * &#8377;{{cartItem.product.discountPrice.toFixed(2)}} = &#8377;{{(cartItem.product.discountPrice * cartItem.quantity).toFixed(2)}}</h5>
                            <p *ngIf="cartItem.product.discount>0"><s>Rs. {{((cartItem.product.discountPrice * cartItem.quantity * 100 )/(100-cartItem.product.discount)).toFixed(2)}}</s> <span>({{cartItem.product.discount}}% OFF)</span></p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="prod-action row col-md-12">
                        <div (click)="removeFromCart(cartItem)" class="col-md-4 col-4">
                            <h4>REMOVE</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-price col-md-4">
                <h5>PRICE DETAILS</h5>
                <div class="price-main">
                    <div class="price-details">
                        <p>Total MRP</p>
                        <p>&#8377; {{(totalMRP).toFixed(2)}}</p>
                    </div>
                    <div class="price-details">
                        <p>Discount on MRP</p>
                        <span>-&#8377; {{(totalMRP-total-(openInPersonDiscount?0:inPersonDiscount)).toFixed(2)}}</span>
                    </div>
                    <div *ngIf="inPersonDiscount && inPersonDiscount instanceof number" class="price-details">
                        <p>Personal Discount</p>
                        <span>-&#8377; {{inPersonDiscount.toFixed(2)}}</span>
                    </div>
                    <div (click)="openInPersonDiscount=true" class="add-discount">
                        Add more discount
                    </div>
                    <div *ngIf="openInPersonDiscount" class="person-discount">
                        <input placeholder="Personal Discount" type="number" [(ngModel)]="inPersonDiscount">
                        <button (click)="openInPersonDiscount=false;updateTotalPrice()" class="save">SAVE</button><button (click)="inPersonDiscount=0;openInPersonDiscount=false" class="cancel">CANCEL</button>
                    </div>
                    <div class="divider"></div>
                    <div class="total">
                        <p>Total Amount</p>
                        <span>&#8377; {{(total).toFixed(2)}}</span>
                    </div>
                </div>
                <button (click)="billing()" class="place-order">BILLING</button>
            </div>
        </div>
    </div>
</div>